[submodule "vim/bundle/vim-snippets"]
	path = vim/bundle/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "vim/bundle/ultisnips"]
	path = vim/bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "vim/bundle/rust.vim"]
	path = vim/bundle/rust.vim
	url = https://github.com/wting/rust.vim.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/vim-go"]
	path = vim/bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "vim/bundle/vim-vinegar"]
	path = vim/bundle/vim-vinegar
	url = https://github.com/tpope/vim-vinegar.git
[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/bundle/vimux"]
	path = vim/bundle/vimux
	url = https://github.com/benmills/vimux.git
[submodule "vim/bundle/vimux-ruby-test"]
	path = vim/bundle/vimux-ruby-test
	url = https://github.com/pgr0ss/vimux-ruby-test.git
[submodule "vim/bundle/vimux-golang"]
	path = vim/bundle/vimux-golang
	url = https://github.com/benmills/vimux-golang.git
[submodule "vim/bundle/vim-slim"]
	path = vim/bundle/vim-slim
	url = https://github.com/slim-template/vim-slim.git
[submodule "vim/bundle/vim2hs"]
	path = vim/bundle/vim2hs
	url = https://github.com/dag/vim2hs.git
